@import "globals.scss";
@import url("https://fonts.googleapis.com/css?family=Josefin+Slab|Raleway|Roboto+Slab");
body {
  background: url($path + "/src/assets/geometry.png");
  font-family: "Raleway", serif !important;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5;
}

.pattern {
  background: url($path + "/src/assets/pattern-md.png");
  padding: 0.5em;
}

.navbar>ul>li>a {
  color: #5e5e5e;
  background-color: transparent
}

.nav-con {
  border-bottom: 1px solid #83d5c0;
}

@media screen and (min-width: 1024px) {
  .navbar-menu {
    flex-grow: 0.95 !important;
    flex-shrink: 0;
  }
}
