/**
    These are variables that can be used throughout our components. The variable names are pretty explicit
    if you are adding any it would be great to follow the same convention.

    Here's a link to blog post about the basics of Sass and some of the things it can be used for:
    https://steemit.com/webdesign/@harps116/css-superpowers-with-sass
    
    You will have to add @import "~styles/_vars.scss"; or any other partial file created here in the
    styles folder to any new conponent created.

**/

// Main Color Scheme:
// useage: 'color: $green;'
$green: #53ac83;
$blue: #5ab4d5;
$dark-blue: #5c90db;
$purple: #5d60dc;
$light-purple: #8d57aa;

// Fonts
@import url("https://fonts.googleapis.com/css?family=Josefin+Slab|Raleway|Roboto+Slab");
// useage: 'font-family: $main-font;'

$main-font: "Raleway", sans-serif;
$second-font: "Roboto Slab", serif;
$third-font: "Josefin Slab", serif;
